

/* .reveal section.title h1, .reveal section h2 {
    color: #e11f1f;
    text-transform: none;
} */

/* .reveal section img { border: none; } */

.reveal a {  color: #8a4106; }
.reveal h1, .reveal h2 { font-size: 1.5em; }
.reveal dt { font-size: 80%; }
.reveal p { 
    font-size: 90%; 
    /* text-align: left;  */
}

.w70p { width: 70%; }
/* .float-group:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
 }
*/
.admonitionblock.note .icon {  background-color: #efc; }
.admonitionblock.note .content {  background-color: #efe; color: #050; font-size: 90%;}
.listingblock .title { font-size: 16pt;} 
.ulist .title { text-align: left; }
.reveal .colist { font-size: 70%; }
.reveal .small { font-size: 85%; }

.decent, .decent * {     color: #33291fa0; }
.decent A { text-decoration: underline; }

.reveal section .borderless img {
    border: none;
    box-shadow: none;
    margin: 0;
}

.tleft { text-align: left; }
